body { background: #99ed49; margin: 0; font-family: sans-serif; }
.analytics-view { padding: 26px; display: flex; }
.block-notify-0 { color: #740e13; font-size: 20px; margin-bottom: 5px; }
.block-order-1 { color: #6c3484; font-size: 21px; margin-bottom: 5px; }
.block-helper-2 { color: #f0dfba; font-size: 21px; margin-bottom: 5px; }
.block-metrics-3 { color: #260a32; font-size: 21px; margin-bottom: 5px; }
.block-sms-4 { color: #9b158a; font-size: 18px; margin-bottom: 5px; }